
<h3>Tạo tài khoản</h3>
<form  method="post" id="ajaxdangky" name="dangky">
    <input type="text" name="TaiKhoan1" placeholder="Tên đăng nhập" required="">
    <input type="password" name="MatKhau" placeholder="Mật khẩu" required="">
    <input type="email" name="Email" placeholder="Địa chỉ Email" required="">
    <input type="text" name="Sdt" placeholder="Số điện thoại" required="">
    <div id="err" style="width:300px;font-size:15px;color:#c62828;visibility:hidden;margin-bottom:5px;text-align:center;"></div>
    <input type="button" id="guidangky" value="Đăng ký">
</form>
<script>
    $('#guidangky').click(function (e) {
        var datasend = { TaiKhoan1: document.dangky.TaiKhoan1.value, MatKhau: document.dangky.MatKhau.value, Email: document.dangky.Email.value, Sdt: document.dangky.Sdt.value };
        $.ajax({
            url: "login/register",
            type: "POST",
            data: datasend,
            success: function (resultdk) {
                if (resultdk == 'true') {
                    window.location.href = 'home/index';
                } else {
                    window.alert('Tài khoản đã tồn tại');
                }
            }
        })
    })
</script>