USE [OneMovie]
GO
/****** Object:  Table [dbo].[BinhLuan]    Script Date: 11/21/2020 12:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinhLuan](
	[TaiKhoan] [nchar](50) NOT NULL,
	[MaPhim] [int] NULL,
	[ThoiGian] [datetime] NULL,
	[NoiDung] [nvarchar](max) NULL,
 CONSTRAINT [PK_BinhLuan] PRIMARY KEY CLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BoPhim]    Script Date: 11/21/2020 12:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BoPhim](
	[MaBP] [int] IDENTITY(1,1) NOT NULL,
	[TenBP] [nvarchar](max) NULL,
	[PhimBo] [int] NULL,
	[MaDD] [int] NULL,
 CONSTRAINT [PK_BoPhim] PRIMARY KEY CLUSTERED 
(
	[MaBP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGia]    Script Date: 11/21/2020 12:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGia](
	[TaiKhoan] [nchar](50) NOT NULL,
	[MaPhim] [nvarchar](255) NULL,
	[SoDiem] [int] NULL,
 CONSTRAINT [PK_DanhGia] PRIMARY KEY CLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DaoDien]    Script Date: 11/21/2020 12:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DaoDien](
	[MaDD] [int] IDENTITY(1,1) NOT NULL,
	[TenDD] [nvarchar](200) NULL,
 CONSTRAINT [PK_DaoDien] PRIMARY KEY CLUSTERED 
(
	[MaDD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DienVien]    Script Date: 11/21/2020 12:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DienVien](
	[MaDV] [int] IDENTITY(1,1) NOT NULL,
	[TenDV] [nvarchar](200) NULL,
 CONSTRAINT [PK_DienVien] PRIMARY KEY CLUSTERED 
(
	[MaDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DienVien_PhanPhim]    Script Date: 11/21/2020 12:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DienVien_PhanPhim](
	[MaDV] [int] NOT NULL,
	[MaPP] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GoiVip]    Script Date: 11/21/2020 12:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoiVip](
	[IDGoi] [int] NOT NULL,
	[TenGoi] [nvarchar](200) NULL,
	[ThoiGian] [int] NULL,
	[GiaTien] [bigint] NULL,
 CONSTRAINT [PK_GoiVip] PRIMARY KEY CLUSTERED 
(
	[IDGoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuXem]    Script Date: 11/21/2020 12:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuXem](
	[TaiKhoan] [nchar](50) NOT NULL,
	[MaPhim] [nvarchar](255) NULL,
	[ThoiGian] [datetime] NOT NULL,
 CONSTRAINT [PK_LichSuXem] PRIMARY KEY CLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LuuPhim]    Script Date: 11/21/2020 12:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LuuPhim](
	[TaiKhoan] [nchar](50) NOT NULL,
	[MaPhim] [nvarchar](255) NULL,
	[ThoiGian] [datetime] NULL,
 CONSTRAINT [PK_LuuPhim] PRIMARY KEY CLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MuaVip]    Script Date: 11/21/2020 12:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MuaVip](
	[TaiKhoan] [nchar](50) NOT NULL,
	[IDGoi] [int] NULL,
	[NgayMua] [datetime] NULL,
 CONSTRAINT [PK_MuaVip] PRIMARY KEY CLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NSX]    Script Date: 11/21/2020 12:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NSX](
	[MaNSX] [int] IDENTITY(1,1) NOT NULL,
	[TenNSX] [nvarchar](200) NULL,
 CONSTRAINT [PK_NSX] PRIMARY KEY CLUSTERED 
(
	[MaNSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NSX_BoPhim]    Script Date: 11/21/2020 12:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NSX_BoPhim](
	[MaNSX] [int] NOT NULL,
	[MaBP] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanHoi]    Script Date: 11/21/2020 12:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanHoi](
	[TaiKhoan] [nchar](50) NOT NULL,
	[NoiDung] [nvarchar](max) NULL,
	[ThoiGian] [datetime] NULL,
 CONSTRAINT [PK_PhanHoi] PRIMARY KEY CLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanPhim]    Script Date: 11/21/2020 12:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanPhim](
	[MaPhim] [nvarchar](255) NOT NULL,
	[TenPhim] [nvarchar](max) NULL,
	[ThoiLuong] [nvarchar](100) NULL,
	[Tap] [int] NULL,
	[NamXB] [datetime] NULL,
	[DanhGia] [int] NULL,
	[LuotXem] [bigint] NULL,
	[LinkAnh] [nvarchar](max) NULL,
	[PhimVip] [int] NULL,
	[MaBP] [int] NULL,
 CONSTRAINT [PK_PhanPhim] PRIMARY KEY CLUSTERED 
(
	[MaPhim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuocGia]    Script Date: 11/21/2020 12:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuocGia](
	[MaQG] [int] IDENTITY(1,1) NOT NULL,
	[TenQG] [nvarchar](200) NULL,
 CONSTRAINT [PK_QuocGia] PRIMARY KEY CLUSTERED 
(
	[MaQG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuocGia_BoPhim]    Script Date: 11/21/2020 12:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuocGia_BoPhim](
	[MaQG] [int] NULL,
	[MaBP] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 11/21/2020 12:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TaiKhoan] [nchar](50) NOT NULL,
	[MatKhau] [nchar](50) NULL,
	[LoaiTK] [int] NULL,
	[HoTen] [nvarchar](150) NULL,
	[Email] [nvarchar](150) NULL,
	[NgaySinh] [date] NULL,
	[SDT] [nchar](50) NULL,
 CONSTRAINT [PK_TaiKhoanUser] PRIMARY KEY CLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheLoai]    Script Date: 11/21/2020 12:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoai](
	[MaTL] [int] IDENTITY(1,1) NOT NULL,
	[TenTL] [nvarchar](200) NULL,
 CONSTRAINT [PK_TheLoai] PRIMARY KEY CLUSTERED 
(
	[MaTL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheLoai_BoPhim]    Script Date: 11/21/2020 12:01:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoai_BoPhim](
	[MaTL] [int] NULL,
	[MaBP] [int] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BoPhim] ON 

INSERT [dbo].[BoPhim] ([MaBP], [TenBP], [PhimBo], [MaDD]) VALUES (1, N'Harry Potter', 1, 1)
INSERT [dbo].[BoPhim] ([MaBP], [TenBP], [PhimBo], [MaDD]) VALUES (2, N'Doctor Strange', 0, 2)
INSERT [dbo].[BoPhim] ([MaBP], [TenBP], [PhimBo], [MaDD]) VALUES (3, N'CoCo', 0, 3)
SET IDENTITY_INSERT [dbo].[BoPhim] OFF
GO
SET IDENTITY_INSERT [dbo].[DaoDien] ON 

INSERT [dbo].[DaoDien] ([MaDD], [TenDD]) VALUES (1, N'J. K. Rowling')
INSERT [dbo].[DaoDien] ([MaDD], [TenDD]) VALUES (2, N'Sam Raimi')
INSERT [dbo].[DaoDien] ([MaDD], [TenDD]) VALUES (3, N'Adrian Molina')
SET IDENTITY_INSERT [dbo].[DaoDien] OFF
GO
SET IDENTITY_INSERT [dbo].[DienVien] ON 

INSERT [dbo].[DienVien] ([MaDV], [TenDV]) VALUES (1, N'Daniel Radcliffe')
INSERT [dbo].[DienVien] ([MaDV], [TenDV]) VALUES (2, N'Rupert Grint')
INSERT [dbo].[DienVien] ([MaDV], [TenDV]) VALUES (3, N'Emma Watson')
SET IDENTITY_INSERT [dbo].[DienVien] OFF
GO
INSERT [dbo].[DienVien_PhanPhim] ([MaDV], [MaPP]) VALUES (1, N'18zG0QywU40O8NJ-3nSjSKLWP5CRf9KG4')
INSERT [dbo].[DienVien_PhanPhim] ([MaDV], [MaPP]) VALUES (2, N'18zG0QywU40O8NJ-3nSjSKLWP5CRf9KG4')
INSERT [dbo].[DienVien_PhanPhim] ([MaDV], [MaPP]) VALUES (3, N'18zG0QywU40O8NJ-3nSjSKLWP5CRf9KG4')
GO
SET IDENTITY_INSERT [dbo].[NSX] ON 

INSERT [dbo].[NSX] ([MaNSX], [TenNSX]) VALUES (1, N'Heyday Films')
INSERT [dbo].[NSX] ([MaNSX], [TenNSX]) VALUES (2, N'Marvel Studios')
INSERT [dbo].[NSX] ([MaNSX], [TenNSX]) VALUES (3, N'Walt Disney')
SET IDENTITY_INSERT [dbo].[NSX] OFF
GO
INSERT [dbo].[NSX_BoPhim] ([MaNSX], [MaBP]) VALUES (1, 1)
INSERT [dbo].[NSX_BoPhim] ([MaNSX], [MaBP]) VALUES (2, 2)
INSERT [dbo].[NSX_BoPhim] ([MaNSX], [MaBP]) VALUES (3, 3)
GO
INSERT [dbo].[PhanPhim] ([MaPhim], [TenPhim], [ThoiLuong], [Tap], [NamXB], [DanhGia], [LuotXem], [LinkAnh], [PhimVip], [MaBP]) VALUES (N'109sIMTKAqJXv3bs1FjQoV9X6a4scfBcP', N'World War Z', N'2 giờ 03 phút', 1, CAST(N'2013-01-01T00:00:00.000' AS DateTime), 4, 0, NULL, 0, 5)
INSERT [dbo].[PhanPhim] ([MaPhim], [TenPhim], [ThoiLuong], [Tap], [NamXB], [DanhGia], [LuotXem], [LinkAnh], [PhimVip], [MaBP]) VALUES (N'18zG0QywU40O8NJ-3nSjSKLWP5CRf9KG4', N'Harry Potter And The Sorcerers Stone', N'2 giờ 38 phút', 1, CAST(N'2001-01-01T00:00:00.000' AS DateTime), 5, 0, NULL, 0, 1)
INSERT [dbo].[PhanPhim] ([MaPhim], [TenPhim], [ThoiLuong], [Tap], [NamXB], [DanhGia], [LuotXem], [LinkAnh], [PhimVip], [MaBP]) VALUES (N'1a1u4VbiD6AfVFRzStFF2rU0xHk5uL-_u', N'Harry Potter and the Prisoner of Azkaban', N'2 giờ 21 phút', 3, CAST(N'2004-01-01T00:00:00.000' AS DateTime), 5, 0, NULL, 0, 1)
GO
SET IDENTITY_INSERT [dbo].[QuocGia] ON 

INSERT [dbo].[QuocGia] ([MaQG], [TenQG]) VALUES (1, N'Anh')
INSERT [dbo].[QuocGia] ([MaQG], [TenQG]) VALUES (2, N'Hoa Kỳ - Mỹ')
INSERT [dbo].[QuocGia] ([MaQG], [TenQG]) VALUES (3, N'Việt Nam')
SET IDENTITY_INSERT [dbo].[QuocGia] OFF
GO
INSERT [dbo].[QuocGia_BoPhim] ([MaQG], [MaBP]) VALUES (1, 1)
INSERT [dbo].[QuocGia_BoPhim] ([MaQG], [MaBP]) VALUES (2, 1)
INSERT [dbo].[QuocGia_BoPhim] ([MaQG], [MaBP]) VALUES (2, 2)
GO
SET IDENTITY_INSERT [dbo].[TheLoai] ON 

INSERT [dbo].[TheLoai] ([MaTL], [TenTL]) VALUES (1, N'Khoa học viễn tưởng')
INSERT [dbo].[TheLoai] ([MaTL], [TenTL]) VALUES (2, N'Tiểu thuyết - Kịch')
INSERT [dbo].[TheLoai] ([MaTL], [TenTL]) VALUES (3, N'Hài hước')
SET IDENTITY_INSERT [dbo].[TheLoai] OFF
GO
INSERT [dbo].[TheLoai_BoPhim] ([MaTL], [MaBP]) VALUES (1, 1)
INSERT [dbo].[TheLoai_BoPhim] ([MaTL], [MaBP]) VALUES (2, 1)
INSERT [dbo].[TheLoai_BoPhim] ([MaTL], [MaBP]) VALUES (3, 1)
GO
ALTER TABLE [dbo].[BinhLuan] ADD  CONSTRAINT [DF_BinhLuan_ThoiGian]  DEFAULT (getdate()) FOR [ThoiGian]
GO
ALTER TABLE [dbo].[LichSuXem] ADD  CONSTRAINT [DF_LichSuXem_ThoiGian]  DEFAULT (getdate()) FOR [ThoiGian]
GO
ALTER TABLE [dbo].[LuuPhim] ADD  CONSTRAINT [DF_LuuPhim_ThoiGian]  DEFAULT (getdate()) FOR [ThoiGian]
GO
ALTER TABLE [dbo].[MuaVip] ADD  CONSTRAINT [DF_MuaVip_NgayMua]  DEFAULT (getdate()) FOR [NgayMua]
GO
ALTER TABLE [dbo].[PhanPhim] ADD  CONSTRAINT [DF_PhanPhim_Tap]  DEFAULT ((1)) FOR [Tap]
GO
ALTER TABLE [dbo].[PhanPhim] ADD  CONSTRAINT [DF_PhanPhim_DanhGia]  DEFAULT ((3)) FOR [DanhGia]
GO
ALTER TABLE [dbo].[PhanPhim] ADD  CONSTRAINT [DF_PhanPhim_LuotXem]  DEFAULT ((0)) FOR [LuotXem]
GO
ALTER TABLE [dbo].[PhanPhim] ADD  CONSTRAINT [DF_PhanPhim_PhimVip]  DEFAULT ((0)) FOR [PhimVip]
GO
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD  CONSTRAINT [FK_BinhLuan_TaiKhoan] FOREIGN KEY([TaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([TaiKhoan])
GO
ALTER TABLE [dbo].[BinhLuan] CHECK CONSTRAINT [FK_BinhLuan_TaiKhoan]
GO
ALTER TABLE [dbo].[BoPhim]  WITH CHECK ADD  CONSTRAINT [FK_BoPhim_DaoDien] FOREIGN KEY([MaDD])
REFERENCES [dbo].[DaoDien] ([MaDD])
GO
ALTER TABLE [dbo].[BoPhim] CHECK CONSTRAINT [FK_BoPhim_DaoDien]
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD  CONSTRAINT [FK_DanhGia_PhanPhim] FOREIGN KEY([MaPhim])
REFERENCES [dbo].[PhanPhim] ([MaPhim])
GO
ALTER TABLE [dbo].[DanhGia] CHECK CONSTRAINT [FK_DanhGia_PhanPhim]
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD  CONSTRAINT [FK_DanhGia_TaiKhoan] FOREIGN KEY([TaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([TaiKhoan])
GO
ALTER TABLE [dbo].[DanhGia] CHECK CONSTRAINT [FK_DanhGia_TaiKhoan]
GO
ALTER TABLE [dbo].[DienVien_PhanPhim]  WITH CHECK ADD  CONSTRAINT [FK_DienVien_PhanPhim_DienVien] FOREIGN KEY([MaDV])
REFERENCES [dbo].[DienVien] ([MaDV])
GO
ALTER TABLE [dbo].[DienVien_PhanPhim] CHECK CONSTRAINT [FK_DienVien_PhanPhim_DienVien]
GO
ALTER TABLE [dbo].[DienVien_PhanPhim]  WITH CHECK ADD  CONSTRAINT [FK_DienVien_PhanPhim_PhanPhim] FOREIGN KEY([MaPP])
REFERENCES [dbo].[PhanPhim] ([MaPhim])
GO
ALTER TABLE [dbo].[DienVien_PhanPhim] CHECK CONSTRAINT [FK_DienVien_PhanPhim_PhanPhim]
GO
ALTER TABLE [dbo].[LichSuXem]  WITH CHECK ADD  CONSTRAINT [FK_LichSuXem_PhanPhim] FOREIGN KEY([MaPhim])
REFERENCES [dbo].[PhanPhim] ([MaPhim])
GO
ALTER TABLE [dbo].[LichSuXem] CHECK CONSTRAINT [FK_LichSuXem_PhanPhim]
GO
ALTER TABLE [dbo].[LichSuXem]  WITH CHECK ADD  CONSTRAINT [FK_LichSuXem_TaiKhoan] FOREIGN KEY([TaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([TaiKhoan])
GO
ALTER TABLE [dbo].[LichSuXem] CHECK CONSTRAINT [FK_LichSuXem_TaiKhoan]
GO
ALTER TABLE [dbo].[LuuPhim]  WITH CHECK ADD  CONSTRAINT [FK_LuuPhim_PhanPhim] FOREIGN KEY([MaPhim])
REFERENCES [dbo].[PhanPhim] ([MaPhim])
GO
ALTER TABLE [dbo].[LuuPhim] CHECK CONSTRAINT [FK_LuuPhim_PhanPhim]
GO
ALTER TABLE [dbo].[LuuPhim]  WITH CHECK ADD  CONSTRAINT [FK_LuuPhim_TaiKhoan] FOREIGN KEY([TaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([TaiKhoan])
GO
ALTER TABLE [dbo].[LuuPhim] CHECK CONSTRAINT [FK_LuuPhim_TaiKhoan]
GO
ALTER TABLE [dbo].[MuaVip]  WITH CHECK ADD  CONSTRAINT [FK_MuaVip_GoiVip] FOREIGN KEY([IDGoi])
REFERENCES [dbo].[GoiVip] ([IDGoi])
GO
ALTER TABLE [dbo].[MuaVip] CHECK CONSTRAINT [FK_MuaVip_GoiVip]
GO
ALTER TABLE [dbo].[MuaVip]  WITH CHECK ADD  CONSTRAINT [FK_MuaVip_TaiKhoan] FOREIGN KEY([TaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([TaiKhoan])
GO
ALTER TABLE [dbo].[MuaVip] CHECK CONSTRAINT [FK_MuaVip_TaiKhoan]
GO
ALTER TABLE [dbo].[NSX_BoPhim]  WITH CHECK ADD  CONSTRAINT [FK_NSX_BoPhim_BoPhim] FOREIGN KEY([MaBP])
REFERENCES [dbo].[BoPhim] ([MaBP])
GO
ALTER TABLE [dbo].[NSX_BoPhim] CHECK CONSTRAINT [FK_NSX_BoPhim_BoPhim]
GO
ALTER TABLE [dbo].[NSX_BoPhim]  WITH CHECK ADD  CONSTRAINT [FK_NSX_BoPhim_NSX] FOREIGN KEY([MaNSX])
REFERENCES [dbo].[NSX] ([MaNSX])
GO
ALTER TABLE [dbo].[NSX_BoPhim] CHECK CONSTRAINT [FK_NSX_BoPhim_NSX]
GO
ALTER TABLE [dbo].[PhanHoi]  WITH CHECK ADD  CONSTRAINT [FK_PhanHoi_TaiKhoan] FOREIGN KEY([TaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([TaiKhoan])
GO
ALTER TABLE [dbo].[PhanHoi] CHECK CONSTRAINT [FK_PhanHoi_TaiKhoan]
GO
ALTER TABLE [dbo].[PhanPhim]  WITH CHECK ADD  CONSTRAINT [FK_PhanPhim_BoPhim] FOREIGN KEY([MaBP])
REFERENCES [dbo].[BoPhim] ([MaBP])
GO
ALTER TABLE [dbo].[PhanPhim] CHECK CONSTRAINT [FK_PhanPhim_BoPhim]
GO
ALTER TABLE [dbo].[QuocGia_BoPhim]  WITH CHECK ADD  CONSTRAINT [FK_QuocGia_BoPhim_BoPhim] FOREIGN KEY([MaBP])
REFERENCES [dbo].[BoPhim] ([MaBP])
GO
ALTER TABLE [dbo].[QuocGia_BoPhim] CHECK CONSTRAINT [FK_QuocGia_BoPhim_BoPhim]
GO
ALTER TABLE [dbo].[QuocGia_BoPhim]  WITH CHECK ADD  CONSTRAINT [FK_QuocGia_BoPhim_QuocGia] FOREIGN KEY([MaQG])
REFERENCES [dbo].[QuocGia] ([MaQG])
GO
ALTER TABLE [dbo].[QuocGia_BoPhim] CHECK CONSTRAINT [FK_QuocGia_BoPhim_QuocGia]
GO
ALTER TABLE [dbo].[TheLoai_BoPhim]  WITH CHECK ADD  CONSTRAINT [FK_TheLoai_BoPhim_BoPhim] FOREIGN KEY([MaBP])
REFERENCES [dbo].[BoPhim] ([MaBP])
GO
ALTER TABLE [dbo].[TheLoai_BoPhim] CHECK CONSTRAINT [FK_TheLoai_BoPhim_BoPhim]
GO
ALTER TABLE [dbo].[TheLoai_BoPhim]  WITH CHECK ADD  CONSTRAINT [FK_TheLoai_BoPhim_TheLoai] FOREIGN KEY([MaTL])
REFERENCES [dbo].[TheLoai] ([MaTL])
GO
ALTER TABLE [dbo].[TheLoai_BoPhim] CHECK CONSTRAINT [FK_TheLoai_BoPhim_TheLoai]
GO
